{
  "extends": [    
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "off", 
    "no-console": ["warn", { "allow": ["warn", "info", "error"] }]
  }
}
